#toolset {
    width     : 100px;
    height    : 440px;
    border : 0px;
    position  : absolute;
    left      : 0px;
    top       : 80px; 
}

#paint {
    background-color: #000000;
    position  : absolute;
    left      : 130px;
    top       : 80px;
}

#colorset {
    position  : absolute;
    left      : 0px;
    top       : 575px;
    width     : 860px;
}
 
#title {
    position  : absolute;
    left      : 30px;
    top : 25px;
}

#penciltool {
    /* background: #358128;  */
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid;
}

#erasertool {
    /* background: #358128;  */
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid;
}

#resettool {
    /* background: #358128;  */
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid;
}   

#predictbutton {
    /* background: #358128;  */
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid;
}   


#predictionResults table {
    position : absolute;
    left : 600px;
    top : 60px;
    width: 15%;
    border-collapse: collapse;
    margin-top: 20px;
}
#predictionResults th, #predictionResults td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#predictionResults tr:nth-child(even) {
    background-color: #f2f2f2;
}
#predictionResults th {
    padding-top: 12px;
    padding-bottom: 12px;
    /* background-color: #4CAF50; */
    color: white;
}